<!--
<table border="1">
	<caption>teams {{ ($ctrl.data.players).length }} out of {{ $ctrl.data.players.length }}</caption>
	<thead>
		<tr>
			<th></th>
			<th ng-repeat="x in $ctrl.data.headers" ng-click="$ctrl.orderTable(x.id);">{{ x.value }}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in $ctrl.data.players | fsearch:'a':$ctrl.form.query | fsearch:'b':$ctrl.form.year | orderBy : $ctrl.order : $ctrl.orderReverse | limitTo:$ctrl.resultAmount">
			<td>{{ $index + 1 }}</td>
			<td ng-repeat="y in $ctrl.data.headers" ng-class="[]">{{ x[y.id] }}</td>
		</tr>
	</tbody>
</table>
<hr>
-->
<div class="row">
	<div class="large-3 column">
		<form id="teamfilter" name="teamfilter">
			<label for="a" class="">playerID
				<input id="a" type="text" data-ng-model="$ctrl.form.a" ng-model-options="{debounce: 500}" placeholder="playerID" ng-change="$ctrl.filter();">
			</label>
			<label for="b" class="">yearID
				<select id="b" ng-model="$ctrl.form.b" ng-options="x for x in $ctrl.b_list | orderBy:x:true" ng-change="$ctrl.filter();"><option value=""></option></select>
			</label>
			<fieldset>
				<legend>gameNum</legend>
				<span ng-repeat="x in $ctrl.c_list">
					<input type="checkbox" name="c" id="check{{x}}" value="{{x}}" ng-model="$ctrl.form.c_multi[x]" ng-change="$ctrl.checkboxFilter($ctrl.form.c_multi, 'c');"><label for="check{{x}}">{{x}}</label>
				</span>
			</fieldset>
			<label for="d" class="">gameID
				<input id="d" type="text" data-ng-model="$ctrl.form.d" ng-model-options="{debounce: 500}" placeholder="gameID" ng-change="$ctrl.filter();">
			</label>
			<label for="e" class="">teamID
				<select id="e" ng-model="$ctrl.form.e" ng-options="x for x in $ctrl.e_list | orderBy:x:false" ng-change="$ctrl.filter();"><option value=""></option></select>
			</label>
			<fieldset>
				<legend>lgID</legend>
				<input type="radio" name="f" id="radio_lgID_none" value="" ng-model="$ctrl.form.f" ng-click="$ctrl.filter();"><label for="radio_lgID_none">All, or:</label>
				<span ng-repeat="x in $ctrl.f_list">
					<input type="radio" name="f" id="radio_lgID_{{x}}" value="{{x}}" ng-model="$ctrl.form.f" ng-click="$ctrl.filter();"><label for="radio_lgID_{{x}}">{{x}}</label>
				</span>
			</fieldset>
			<fieldset>
				<legend>GP</legend>
				<input type="radio" name="g" id="radio_gp_none" value="" ng-model="$ctrl.form.g" ng-click="$ctrl.filter();"><label for="radio_gp_none">All, or:</label>
				<span ng-repeat="x in $ctrl.g_list">
					<input type="radio" name="g" id="radio_gp_{{x}}" value="{{x}}" ng-model="$ctrl.form.g" ng-click="$ctrl.filter();"><label for="radio_gp_{{x}}">{{x}}</label>
				</span>
			</fieldset>
			<label for="h" class="">startingPos
				<select id="h" ng-model="$ctrl.form.h" ng-options="x for x in $ctrl.h_list | orderBy:x:false" ng-change="$ctrl.filter();"><option value=""></option></select>
			</label>

			<button type="reset" ng-click="$ctrl.resetFilters(teamfilter);" ng-disabled="teamfilter.$pristine" class="button">Reset</button>
		</form>
		
		<allstar-selection-list selection="$ctrl.selectedPlayers" on-update="$ctrl.clearSelectedPlayers($event)"></allstar-selection-list>

	</div>
	<div class="large-9 column">
		<form>
			<label for="result" class="large-1">results
				<select id="result" ng-model="$ctrl.resultAmount" ng-options="x for x in $ctrl.resultAmountArr"></select>
			</label>
		</form>
		<table border="1">
			<caption>teams {{ ($ctrl.filtered_players).length }} out of {{ $ctrl.players.length }}</caption>
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="x in $ctrl.headers" ng-click="$ctrl.orderTable(x.id);">{{ x.value }}</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="x in $ctrl.filtered_players | orderBy : $ctrl.order : $ctrl.orderReverse | limitTo:$ctrl.resultAmount" ng-click="$ctrl.selectPlayer(x);" ng-class="{warning:x.selected}">
					<td>{{ $index + 1 }}/{{ x.id }} 
						<form class="inline">
							<input type="checkbox" ng-model="x.selected" onmousedown="event.preventDefault();">
						</form>
					</td>
					<td ng-repeat="y in $ctrl.headers" ng-class="[]">{{ x[y.id] }}</td>
				</tr>
			</tbody>
			<tbody ng-show="$ctrl.filtered_players.length === 0">
				<tr>
					<td colspan="{{$ctrl.headers.length+1}}" class="text-center"> No teams were found...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>