/*------------------------------------*\
    #SECTION-MAIN-CONFIG
\*------------------------------------*/


/* ==========================================================================
   Base-variables: 
   ========================================================================== */

$primary-text-color: #333;
$primary-bg-color: #f6f6ff;
