/*------------------------------------*\
    #SECTION-APP-LAYOUT
\*------------------------------------*/

@import 'a-config';

.warning{
	color: red;
}
.inline{
	display: inline;
	input[type=checkbox]{
		margin-bottom: 0;
	}
}
